#main {
    display: flex;
    flex-wrap: wrap;
    width: 615px;
}

.case {
    width: 198px;
    height: 198px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: lightgrey;
    opacity: 0.5;
    font-size: 5em;
    line-height: 200px;
    text-align: center;
}

#infos {
    width: 615px;
    text-align: center;
}

.red {
    color: red
}

.green {
    color: green
}