#main {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.carre {
    width: 200px;
    height: 200px;
    background-color: rgb(136, 174, 136);
    color: white;
    font-size: 3em;
    line-height: 200px;
    text-align: center;
}

.carre-clicked-red {
    background-color: red;
    transform: scale(0.9);
    animation: turnRed 1s;
}

.carre-clicked-green {
    background-color: rgb(136, 174, 136);
    animation: turnGreen 1s;
}

@keyframes turnRed {
    from {
        transform: scale(1) rotate(0deg)
    }

    to {
        transform: scale(0.9) rotate(360deg);
    }
}

@keyframes turnGreen {
    from {
        transform: scale(0.9) rotate(360deg)
    }

    to {
        transform: scale(1) rotate(0deg);
    }
}